{%- assign size_guide_page = product.metafields.custom.size_guide.value -%}
{%- if size_guide_page -%}
  <modal-dialog id="SizeGuide-{{ section.id }}" class="product-popup-modal">
    <div
      role="dialog"
      aria-label="{{ 'products.product.size_guide' | t }}"
      aria-modal="true"
      class="product-popup-modal__content"
      tabindex="-1"
    >
      <button
        id="ModalClose-{{ section.id }}"
        type="button"
        class="product-popup-modal__toggle"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>
      <div class="product-popup-modal__content-info">
        <div class="size-guide__content rte">
          <h3 class="h2">{{ pages[size_guide_page.handle].title | escape }}</h3>
          {{ pages[size_guide_page.handle].content }}
        </div>
      </div>
    </div>
  </modal-dialog>
{%- endif -%}
