{{ 'section-featured-values.css' | asset_url | stylesheet_tag }}

<div class="featured-values color-scheme-{{ section.settings.color_scheme }}">
  <div class="page-width isolate scroll-trigger animate--slide-in">
    {%- if section.settings.title != blank -%}
      <h2 class="featured-values__heading h0">{{ section.settings.title }}</h2>
    {%- endif -%}

    <div class="featured-values__grid grid grid--1-col grid--3-col-desktop">
      {%- for block in section.blocks -%}
        <div
          class="featured-values__item grid__item scroll-trigger animate--slide-in"
          {{ block.shopify_attributes }}
          data-cascade
          style="--animation-order: {{ forloop.index }};"
        >
          {%- if block.settings.image != blank -%}
            <div class="media media--transparent media--square">
              {{
                block.settings.image
                | image_url: width: 3200
                | image_tag:
                  loading: 'lazy',
                  class: 'featured-values__image',
                  widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                  sizes: '(min-width: 990px) 33vw, (min-width: 750px) 50vw, 100vw'
              }}
            </div>
          {%- endif -%}

          <div class="featured-values__content{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {%- if block.settings.heading != blank -%}
              <h3 class="featured-values__item-heading scroll-trigger animate--fade-in">
                {{ block.settings.heading }}
              </h3>
            {%- endif -%}

            {%- if block.settings.text != blank -%}
              <div class="featured-values__text rte scroll-trigger animate--fade-in">{{ block.settings.text }}</div>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Values",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Our Values"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "value",
      "name": "Value",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Value Heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about this value</p>",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Values",
      "blocks": [
        {
          "type": "value"
        },
        {
          "type": "value"
        },
        {
          "type": "value"
        }
      ]
    }
  ]
}
{% endschema %}
